<!--
/**
 * list-detail
 * @description CurvePoint List
 */
-->

<!-- CurvePoint table -->

<!-- CurvePoint title -->
<thead>
    <tr>
        <th th:text="#{label.curvePoint.attribute.id}"></th>
        <th th:text="#{label.curvePoint.attribute.curveId}"></th>
        <th th:text="#{label.curvePoint.attribute.term}"></th>
        <th th:text="#{label.curvePoint.attribute.value}"></th>
        <th th:text="#{label.column.action}"></th>
    </tr>
</thead>
<!-- CurvePoint detail -->
<tbody>
    <tr th:each="curvePoint : ${curvePoints}">
        <td style="width: 10%" th:text="${curvePoint.id}"></td>
        <td th:text="${curvePoint.curveId}"></td>
        <td th:text="${curvePoint.term}"></td>
        <td th:text="${curvePoint.value}"></td>
        <td style="width: 15%" class="text-center">
            <!-- Update and Delete button -->
            <div th:replace="fragments/input-type :: updateDeleteButton(
                                                        '/curvePoint/update/{id}(id=${curvePoint.id})'
                                                        , '/curvePoint/delete/{id}(id=${curvePoint.id})')"></div>
        </td>
    </tr>
</tbody>
