<!--
/**
 * list
 * @description CurvePoint List management page
 */
-->

<!DOCTYPE html>
<html lang="en"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="fragments/main-layout">

	<head>
		<!-- Curve Point List -->
		<title th:text="#{label.curvePoint.titleList}" />
	</head>

<body>

<main layout:fragment="content">

	<div class="container">
		<!-- Curve Point List -->
		<header th:insert="fragments/general :: headerNormal('label.curvePoint.titleList')"></header>

		<!-- Global message -->
		<div th:replace="fragments/global-message"></div>

		<!-- Add new button -->
		<div th:replace="fragments/input-type :: addNewButton('/curvePoint/add')"></div>

		<!-- CurvePoint List -->
		<div th:replace="fragments/general :: tableList('curvePoint/list-detail')"></div>
	</div>

</main>

</body>
</html>
