<!--
/**
 * update
 * @description Update Curve Point
 */
-->

<!DOCTYPE html>
<html lang="en"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

	<!-- Update Curve Point -->
	<head th:include="fragments/general :: headNormal('label.curvePoint.titleUpdate')">
	</head>

<body>
<div class="container">

	<!-- Update Curve Point -->
	<header th:insert="fragments/general :: headerNormal('label.curvePoint.titleUpdate')"></header>

	<!-- Global message -->
	<div th:replace="fragments/global-message"></div>

	<div class="row">
		<form th:action="@{/curvePoint/update/{id}(id=${curvePoint.id})}" th:object="${curvePoint}" th:method="PATCH" class="form-horizontal" style="width: 100%">

			<!-- curveId -->
			<div th:replace="fragments/input-type :: inputNumber('curveId', 'label.curvePoint.attribute.curveId')"></div>
			<!-- term -->
			<div th:replace="fragments/input-type :: inputText('term', 'label.curvePoint.attribute.term')"></div>
			<!-- value -->
			<div th:replace="fragments/input-type :: inputText('value', 'label.curvePoint.attribute.value')"></div>

			<!-- id -->
			<input type="hidden" th:field="*{id}">

			<!-- Button Cancel and Update -->
			<div th:replace="fragments/input-type :: cancelSubmitButton('/curvePoint/list', 'label.curvePoint.button.update')"></div>

		</form>
	</div>

</div>

<footer th:replace="fragments/general :: footer"></footer>

</body>
</html>
