<!--
/**
 * list
 * @description Rating List management page
 */
-->

<!DOCTYPE html>
<html lang="en"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="fragments/main-layout">

<head>
	<!-- Rating List -->
	<title th:text="#{label.rating.titleList}" />
</head>

<body>

<main layout:fragment="content">

	<div class="container">
		<!-- Rating List -->
		<header th:insert="fragments/general :: headerNormal('label.rating.titleList')"></header>

		<!-- Global message -->
		<div th:replace="fragments/global-message"></div>

		<!-- Add new button -->
		<div th:replace="fragments/input-type :: addNewButton('/rating/add')"></div>

		<!-- Bid List -->
		<div th:replace="fragments/general :: tableList('rating/list-detail')"></div>
	</div>

</main>

</body>
</html>
