<!--
/**
 * update
 * @description Update Rating
 */
-->

<!DOCTYPE html>
<html lang="en"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

	<head>
		<title>Poseidon - Update Rating</title>
		<head th:replace="fragments/head">
	</head>

<body>
<div class="container">
	<div class="row">
		<!-- Update Rating -->
		<h2 th:text="#{rating.label.titleUpdate}" />
	</div>

	<!-- Error message -->
	<div th:replace="~{fragments/error-message}"></div>

	<div class="row">
		<form th:action="@{/rating/update/{id}(id=${rating.id})}" th:object="${rating}" th:method="PATCH" class="form-horizontal" style="width: 100%">
			<!-- moodysRating -->
			<div class="form-group">
				<label th:for="moodysRating" class="col-sm-2 control-label">MoodysRating</label>
				<div class="col-sm-10">
					<input type="text" th:field="*{moodysRating}" th:id="moodysRating" placeholder="MoodysRating" class="col-4">
					<p class="text-danger" th:if="${#fields.hasErrors('moodysRating')}" th:errors="*{moodysRating}"></p>
				</div>
			</div>
			<!-- sandPRating -->
			<div class="form-group">
				<label th:for="sandPRating" class="col-sm-2 control-label">SandPRating</label>
				<div class="col-sm-10">
					<input type="text" th:field="*{sandPRating}" th:id="sandPRating" placeholder="SandPRating" class="col-4">
					<p class="text-danger" th:if="${#fields.hasErrors('sandPRating')}" th:errors="*{sandPRating}"></p>
				</div>
			</div>
			<!-- fitchRating -->
			<div class="form-group">
				<label th:for="fitchRating" class="col-sm-2 control-label">FitchRating</label>
				<div class="col-sm-10">
					<input type="text" th:field="*{fitchRating}" th:id="fitchRating" placeholder="FitchRating" class="col-4">
					<p class="text-danger" th:if="${#fields.hasErrors('fitchRating')}" th:errors="*{fitchRating}"></p>
				</div>
			</div>
			<!-- orderNumber -->
			<div class="form-group">
				<label th:for="orderNumber" class="col-sm-2 control-label">orderNumber</label>
				<div class="col-sm-10">
					<input type="number" th:field="*{orderNumber}" th:id="orderNumber" placeholder="OrderNumber" class="col-4">
					<p class="text-danger" th:if="${#fields.hasErrors('orderNumber')}" th:errors="*{orderNumber}"></p>
				</div>
			</div>

			<!-- Button Cancel and Add -->
			<div class="form-group">
				<div class="col-sm-12">
					<input type="hidden" th:field="*{id}">
					<a class="btn btn-danger btn-sm" th:href="@{/rating/list}">Cancel</a>
					<input class="btn btn-primary btn-sm" type="submit" value="Update Rating">
				</div>
			</div>
		</form>
	</div>

</div>

<div th:replace="fragments/scripts :: script"></div>

</body>
</html>
