<!--
/**
 * update
 * @description Update Rating
 */
-->

<!DOCTYPE html>
<html lang="en"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

	<!-- Update Rating -->
	<head th:include="fragments/general :: headNormal('label.rating.titleUpdate')">
	</head>

<body>
<div class="container">

	<!-- Update Rating -->
	<header th:insert="fragments/general :: headerNormal('label.rating.titleUpdate')"></header>

	<!-- Global message -->
	<div th:replace="fragments/global-message"></div>

	<div class="row">
		<form th:action="@{/rating/update/{id}(id=${rating.id})}" th:object="${rating}" th:method="PATCH" class="form-horizontal" style="width: 100%">

			<!-- moodysRating -->
			<div th:replace="fragments/input-type :: inputText('moodysRating', 'label.rating.attribute.moodysRating')"></div>
			<!-- sandPRating -->
			<div th:replace="fragments/input-type :: inputText('sandPRating', 'label.rating.attribute.sandPRating')"></div>
			<!-- fitchRating -->
			<div th:replace="fragments/input-type :: inputText('fitchRating', 'label.rating.attribute.fitchRating')"></div>
			<!-- orderNumber -->
			<div th:replace="fragments/input-type :: inputNumber('orderNumber', 'label.rating.attribute.orderNumber')"></div>

			<!-- id -->
			<input type="hidden" th:field="*{id}">

			<!-- Button Cancel and Update -->
			<div th:replace="fragments/input-type :: cancelSubmitButton('/rating/list', 'label.rating.button.update')"></div>

		</form>
	</div>

</div>

<footer th:replace="fragments/general :: footer"></footer>

</body>
</html>
