<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="utf-8"/>
    <title>Bid List</title>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
<div class="container">
    <div class="row"><h2>Bid List</h2></div>
    <div class="row">
        <a th:href="@{/bidList/add}" class="btn btn-primary btn-sm">Add New</a>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Account</th>
                    <th>Type</th>
                    <th>Bid Quantity</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <!-- Show all Bids to the table, the Action column will have Edit & Delete buttons -->
                <tr th:each="bid : ${bidList}">
                    <td th:text="${bid.BidListId}">11</td>
                    <td th:text="${bid.account}">Account Test</td>
                    <td th:text="${bid.type}">Type Test</td>
                    <td th:text="${bid.bidQuantity}">10.0</td>
                    <td class="text-center">
                        <a th:href="@{/bidList/update/{id}(id=${bid.BidListId})}">Edit</a>&nbsp;|&nbsp;
                        <a th:href="@{/bidList/delete/{id}(id=${bid.BidListId})}">Delete</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>
