<!--
/**
 * list-detail
 * @description Bid List
 */
-->

<!-- Bid table -->

<!-- Bid title -->
<thead>
    <tr>
        <th th:text="#{label.bid.attribute.bidListId}"></th>
        <th th:text="#{label.bid.attribute.account}"></th>
        <th th:text="#{label.bid.attribute.type}"></th>
        <th th:text="#{label.bid.attribute.bidQuantity}"></th>
        <th th:text="#{label.column.action}"></th>
    </tr>
</thead>
<!-- Bid detail -->
<tbody>
    <tr th:each="bid : ${bids}">
        <td style="width: 10%" th:text="${bid.bidListId}"></td>
        <td th:text="${bid.account}"></td>
        <td th:text="${bid.type}"></td>
        <td th:text="${bid.bidQuantity}"></td>
        <td style="width: 15%" class="text-center">
            <!-- Update and Delete button -->
            <div th:replace="fragments/input-type :: updateDeleteButton(
                                                        '/bidList/update/{id}(id=${bid.bidListId})'
                                                        , '/bidList/delete/{id}(id=${bid.bidListId})')"></div>
        </td>
    </tr>
</tbody>
