<!--
/**
 * list
 * @description Bid List management page
 */
-->

<!DOCTYPE html>
<html lang="en"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="fragments/main-layout">

	<head>
		<title>Bid List</title>
	</head>

<body>

<main layout:fragment="content">

	<div class="container">
		<div class="row"><h2>Bid List</h2></div>

		<!-- Error message -->
		<div th:replace="~{fragments/error-message}"></div>

		<!-- Add New -->
		<div class="row">
			<div class="col-2">
				<a th:href="@{/bidList/add}" class="btn btn-primary btn-sm">Add New</a>
			</div>
		</div>

		<!-- Bid List -->
		<div th:replace="~{bidList/list-detail}"></div>
	</div>

</main>

</body>
</html>