<!--
/**
 * update
 * @description Update bid
 */
-->

<!DOCTYPE html>
<html lang="en"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

	<!-- Update Bid -->
	<head th:include="fragments/general :: headNormal('label.bid.titleUpdate')">
	</head>

<body>
<div class="container">

	<!-- Update Bid -->
	<header th:insert="fragments/general :: headerNormal('label.bid.titleUpdate')"></header>

	<!-- Global message -->
	<div th:replace="fragments/global-message"></div>

	<div class="row">
		<form th:action="@{/bidList/update/{id}(id=${bid.bidListId})}" th:object="${bid}" th:method="PATCH" class="form-horizontal" style="width: 100%">

			<!-- account -->
			<div th:replace="fragments/input-type :: inputText('account', 'label.bid.attribute.account')"></div>
			<!-- type -->
			<div th:replace="fragments/input-type :: inputText('type', 'label.bid.attribute.type')"></div>
			<!-- bidQuantity -->
			<div th:replace="fragments/input-type :: inputText('bidQuantity', 'label.bid.attribute.bidQuantity')"></div>

			<!-- bidListId -->
			<input type="hidden" th:field="*{bidListId}">

			<!-- Button Cancel and Update -->
			<div th:replace="fragments/input-type :: cancelSubmitButton('/bidList/list', 'label.bid.button.update')"></div>

		</form>
	</div>

</div>

<footer th:replace="fragments/general :: footer"></footer>

</body>
</html>
