<!--
/**
 * menu
 * @description Menu
 */
-->

<div class="row">
	<!-- Left menu -->
	<div class="col-6">
		<nav class="navbar navbar-expand navbar-light">
			<div class="collapse navbar-collapse justify-content-start" id="navbarNav">
				<ul class="navbar-nav" th:with="pageName=${#ctx.springRequestContext.requestUri}">

					<!-- USER -->
					<th:block th:if="${#authorization.expression('hasAuthority(''USER'')')}">
						<div th:replace="~{fragments/menu-user}"></div>
					</th:block>

					<!-- ADMIN -->
					<th:block th:if="${#authorization.expression('hasAuthority(''ADMIN'')')}">
						<div th:replace="~{fragments/menu-admin}"></div>
					</th:block>

				</ul>
			</div>
		</nav>
	</div>

	<!-- Right menu -->
	<div class="col-6 d-flex justify-content-end">
		<div>
			Logged in user: <span sec:authentication="name" />
			<form th:action="@{/app/logout}" method="POST">
				<input type="submit" value="Logout"/>
			</form>
		</div>
	</div>
</div>
