<!--
/**
 * menu
 * @description Menu
 */
-->

<div class="row">
	<!-- Left menu -->
	<div class="col-6">
		<nav class="navbar navbar-expand navbar-light">
			<div class="collapse navbar-collapse justify-content-start" id="navbarNav">
				<ul class="navbar-nav" th:with="pageName=${#ctx.springRequestContext.requestUri}">
					<!-- Bid page -->
					<li class="nav-item">
						<a class="nav-link" th:classappend="${pageName == '/bidList/list' ? 'text-primary' : ''}"
						   th:href="@{/bidList/list}">Bid List</a>
					</li>

					<!-- Curve Points page -->
					<li class="nav-item">
						<a class="nav-link" th:classappend="${pageName == '/curvePoint/list' ? 'text-primary' : ''}"
						   th:href="@{/curvePoint/list}">Curve Points</a>
					</li>

					<!-- Ratings page -->
					<li class="nav-item">
						<a class="nav-link" th:classappend="${pageName == '/rating/list' ? 'text-primary' : ''}"
						   th:href="@{/rating/list}">Ratings</a>
					</li>

					<!-- Trade page -->
					<li class="nav-item">
						<a class="nav-link" th:classappend="${pageName == '/trade/list' ? 'text-primary' : ''}"
						   th:href="@{/trade/list}">Trade</a>
					</li>

					<!-- Rule page -->
					<li class="nav-item">
						<a class="nav-link" th:classappend="${pageName == '/ruleName/list' ? 'text-primary' : ''}"
						   th:href="@{/ruleName/list}">Rule</a>
					</li>
				</ul>
			</div>
		</nav>
	</div>

	<!-- Right menu -->
	<div class="col-6 d-flex justify-content-end">
		<div>
			Logged in user: <span sec:authentication="name" />
			<form th:action="@{/app/logout}" method="POST">
				<input type="submit" value="Logout"/>
			</form>
		</div>
	</div>
</div>
