<!--
/**
 * menu-user
 * @description Menu user
 */
-->

<!-- Bid page -->
<li class="nav-item">
    <a class="nav-link" th:classappend="${pageName == '/bidList/list' ? 'text-primary' : ''}"
       th:href="@{/bidList/list}">Bid List</a>
</li>

<!-- Curve Points page -->
<li class="nav-item">
    <a class="nav-link" th:classappend="${pageName == '/curvePoint/list' ? 'text-primary' : ''}"
       th:href="@{/curvePoint/list}">Curve Points</a>
</li>

<!-- Ratings page -->
<li class="nav-item">
    <a class="nav-link" th:classappend="${pageName == '/rating/list' ? 'text-primary' : ''}"
       th:href="@{/rating/list}">Ratings</a>
</li>

<!-- Trade page -->
<li class="nav-item">
    <a class="nav-link" th:classappend="${pageName == '/trade/list' ? 'text-primary' : ''}"
       th:href="@{/trade/list}">Trade</a>
</li>

<!-- Rule page -->
<li class="nav-item">
    <a class="nav-link" th:classappend="${pageName == '/ruleName/list' ? 'text-primary' : ''}"
       th:href="@{/ruleName/list}">Rule</a>
</li>
