<!--
/**
 * navigational-hierarchy
 * @description Navigational hierarchy
 */
-->

<th:block th:fragment="menu">

    <!-- USER -->

    <!-- ADMIN -->
    <th:block th:if="${#authorization.expression('hasAuthority(''ADMIN'')')}">
        <div th:replace="fragments/navigational-hierarchy :: breadcrumbMenu('menu-admin')"></div>
    </th:block>

</th:block>

<!--
/**
 * breadcrumb menu
 * @param {string} fragmentMenu - Fragment menu displayed (Callback function)
 */
-->
<div class="row bg-light" th:fragment="breadcrumbMenu (fragmentMenu)">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <div th:replace="fragments/navigational-hierarchy :: ${fragmentMenu} (${#ctx.springRequestContext.requestUri})"></div>
        </ol>
    </nav>
</div>

<!--
/**
 * Menu admin
 * @param {string} currentPage - Current page
 */
-->
<th:block th:fragment="menu-admin (currentPage)">

    <!-- Home page -->
    <th:block th:if="${currentPage == '/home/admin'}">
        <li class="breadcrumb-item active" aria-current="page" th:text="#{label.menu.adminHome}"></li>
    </th:block>

    <!-- User List page -->
    <th:block th:if="${currentPage == '/user/list'}">
        <li class="breadcrumb-item"><a th:href="@{/home/admin}" th:text="#{label.menu.adminHome}"></a></li>
        <li class="breadcrumb-item active" aria-current="page" th:text="#{label.menu.user}"></li>
    </th:block>

</th:block>
