<!--
/**
 * add
 * @description Add trade
 */
-->

<!DOCTYPE html>
<html lang="en"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

	<!-- Add New Trade -->
	<head th:include="fragments/general :: headNormal('label.trade.titleAdd')">
	</head>

<body>
<div class="container">

	<!-- Add New Trade -->
	<header th:insert="fragments/general :: headerNormal('label.trade.titleAdd')"></header>

	<!-- Global message -->
	<div th:replace="fragments/global-message"></div>

	<div class="row">
		<form th:action="@{/trade/validate}" th:object="${trade}" th:method="POST" class="form-horizontal" style="width: 100%">

			<!-- account -->
			<div th:replace="fragments/input-type :: inputText('account', 'label.trade.attribute.account')"></div>
			<!-- type -->
			<div th:replace="fragments/input-type :: inputText('type', 'label.trade.attribute.type')"></div>
			<!-- buyQuantity -->
			<div th:replace="fragments/input-type :: inputText('buyQuantity', 'label.trade.attribute.buyQuantity')"></div>

			<!-- Button Cancel and Add -->
			<div th:replace="fragments/input-type :: cancelSubmitButton('/trade/list', 'label.trade.button.add')"></div>

		</form>
	</div>

</div>

<footer th:replace="fragments/general :: footer"></footer>

</body>
</html>
