<!--
/**
 * list-detail
 * @description Trade List
 */
-->

<!-- Trade table -->

<!-- Trade title -->
<thead>
    <tr>
        <th th:text="#{label.trade.attribute.tradeId}"></th>
        <th th:text="#{label.trade.attribute.account}"></th>
        <th th:text="#{label.trade.attribute.type}"></th>
        <th th:text="#{label.trade.attribute.buyQuantity}"></th>
        <th th:text="#{label.column.action}"></th>
    </tr>
</thead>
<!-- Trade detail -->
<tbody>
    <tr th:each="trade : ${trades}">
        <td style="width: 10%" th:text="${trade.tradeId}"></td>
        <td th:text="${trade.account}"></td>
        <td th:text="${trade.type}"></td>
        <td th:text="${trade.buyQuantity}"></td>
        <td style="width: 15%" class="text-center">
            <!-- Update and Delete button -->
            <div th:replace="fragments/input-type :: updateDeleteButton(
                                                        '/trade/update/{id}(id=${trade.tradeId})'
                                                        , '/trade/delete/{id}(id=${trade.tradeId})')"></div>
        </td>
    </tr>
</tbody>
