<!--
/**
 * list-detail
 * @description User List
 */
-->

<!-- User table -->

<!-- User title -->
<thead>
    <tr>
        <th th:text="#{label.user.attribute.id}"></th>
        <th th:text="#{label.user.attribute.fullname}"></th>
        <th th:text="#{label.user.attribute.username}"></th>
        <th th:text="#{label.user.attribute.role}"></th>
        <th th:text="#{label.column.action}"></th>
    </tr>
</thead>
<!-- User detail -->
<tbody>
    <tr th:each="user : ${registers}">
        <td style="width: 10%" th:text="${user.id}"></td>
        <td th:text="${user.fullname}"></td>
        <td th:text="${user.username}"></td>
        <td style="width: 25%" th:text="${user.role}"></td>
        <td style="width: 15%" class="text-center">
            <!-- Update and Delete button -->
            <div th:replace="fragments/input-type :: updateDeleteButton(
                                                        '/user/update/{id}(id=${user.id})'
                                                        , '/user/delete/{id}(id=${user.id})')"></div>
        </td>
    </tr>
</tbody>
