<!--
/**
 * update
 * @description Update User
 */
-->

<!DOCTYPE html>
<html lang="en"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

	<!-- Update User -->
	<head th:include="fragments/general :: headNormal('label.user.titleUpdate')">
	</head>

<body>
<div class="container">

	<!-- Update User -->
	<header th:insert="fragments/general :: headerNormal('label.user.titleUpdate')"></header>

	<!-- Global message -->
	<div th:replace="fragments/global-message"></div>

	<div class="row">
		<form th:action="@{/user/update/{id}(id=${register.id})}" th:object="${register}" th:method="PATCH" class="form-horizontal" style="width: 100%">

			<!-- fullname -->
			<div th:replace="fragments/input-type :: inputText('fullname', 'label.user.attribute.fullname')"></div>
			<!-- username -->
			<div th:replace="fragments/input-type :: inputText('username', 'label.user.attribute.username')"></div>
			<!-- password -->
			<div th:replace="fragments/input-type :: inputPassword('password', 'label.user.attribute.password')"></div>
			<!-- role -->
			<div th:replace="fragments/input-type :: userRoleRadioButton('role', 'label.user.attribute.role')"></div>

			<!-- id -->
			<input type="hidden" th:field="*{id}">

			<!-- Button Cancel and Update -->
			<div th:replace="fragments/input-type :: cancelSubmitButton('/user/list', 'label.user.button.update')"></div>

		</form>
	</div>

</div>

<footer th:replace="fragments/general :: footer"></footer>

</body>
</html>
