<!--
/**
 * add
 * @description Add New Rule
 */
-->

<!DOCTYPE html>
<html lang="en"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

	<!-- Add New Rule -->
	<head th:include="fragments/general :: headNormal('label.rule.titleAdd')">
	</head>

<body>
<div class="container">

	<!-- Add New Rule -->
	<header th:insert="fragments/general :: headerNormal('label.rule.titleAdd')"></header>

	<!-- Global message -->
	<div th:replace="fragments/global-message"></div>

	<div class="row">
		<form th:action="@{/ruleName/validate}" th:object="${rule}" th:method="POST" class="form-horizontal" style="width: 100%">

			<!-- name -->
			<div th:replace="fragments/input-type :: inputText('name', 'label.rule.attribute.name')"></div>
			<!-- description -->
			<div th:replace="fragments/input-type :: inputText('description', 'label.rule.attribute.description')"></div>
			<!-- json -->
			<div th:replace="fragments/input-type :: inputText('json', 'label.rule.attribute.json')"></div>
			<!-- template -->
			<div th:replace="fragments/input-type :: inputText('template', 'label.rule.attribute.template')"></div>
			<!-- sqlStr -->
			<div th:replace="fragments/input-type :: inputText('sqlStr', 'label.rule.attribute.sqlStr')"></div>
			<!-- sqlPart -->
			<div th:replace="fragments/input-type :: inputText('sqlPart', 'label.rule.attribute.sqlPart')"></div>

			<!-- Button Cancel and Add -->
			<div th:replace="fragments/input-type :: cancelSubmitButton('/ruleName/list', 'label.rule.button.add')"></div>

		</form>
	</div>

</div>

<footer th:replace="fragments/general :: footer"></footer>

</body>
</html>
