<!--
/**
 * list
 * @description Rule List management page
 */
-->

<!DOCTYPE html>
<html lang="en"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="fragments/main-layout">

	<head>
		<!-- Rule List -->
		<title th:text="#{rule.label.titleList}" />
	</head>

<body>

<main layout:fragment="content">

	<div class="container">
		<!-- Rule List -->
		<div class="row"><h2 th:text="#{rule.label.titleList}" /></div>

		<!-- Error message -->
		<div th:replace="~{fragments/error-message}"></div>

		<!-- Add New -->
		<div class="row">
			<div class="col-2">
				<a th:href="@{/ruleName/add}" class="btn btn-primary btn-sm">Add New</a>
			</div>
		</div>

		<!-- Rule List -->
		<div th:replace="~{ruleName/list-detail}"></div>
	</div>

</main>

</body>
</html>
