<!--
/**
 * list-detail
 * @description Rule List
 */
-->

<!-- Rule table -->

<!-- Rule title -->
<thead>
    <tr>
        <th th:text="#{label.rule.attribute.id}"></th>
        <th th:text="#{label.rule.attribute.name}"></th>
        <th th:text="#{label.rule.attribute.description}"></th>
        <th th:text="#{label.rule.attribute.json}"></th>
        <th th:text="#{label.rule.attribute.template}"></th>
        <th th:text="#{label.rule.attribute.sqlStr}"></th>
        <th th:text="#{label.rule.attribute.sqlPart}"></th>
        <th th:text="#{label.column.action}"></th>
    </tr>
</thead>
<!-- Rule detail -->
<tbody>
    <tr th:each="rule : ${rules}">
        <td style="width: 10%" th:text="${rule.id}"></td>
        <td th:text="${rule.name}"></td>
        <td th:text="${rule.description}"></td>
        <td th:text="${rule.json}"></td>
        <td th:text="${rule.template}"></td>
        <td th:text="${rule.sqlStr}"></td>
        <td th:text="${rule.sqlPart}"></td>
        <td style="width: 15%" class="text-center">
            <!-- Update and Delete button -->
            <div th:replace="fragments/input-type :: updateDeleteButton(
                                                        '/ruleName/update/{id}(id=${rule.id})'
                                                        , '/ruleName/delete/{id}(id=${rule.id})')"></div>
        </td>
    </tr>
</tbody>
